<template>
    <div>
        <form @submit.prevent="postReview" method="post">
                      
                       

                        <div class="form-group row">
                            <label for="rating" class="col-md-4 col-form-label text-md-right">Ratings</label>

                            <div class="col-md-6">
                               <star-rating v-model="formData.rating"></star-rating>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="description" class="col-md-4 col-form-label text-md-right">Review</label>

                            <div class="col-md-6">
                                <textarea v-model="formData.description" id="" cols="30" rows="7" placeholder="" required></textarea>
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit"  class="button" >Submit</button>
                            </div>
                        </div>
                    </form>
    </div>


</template>

<script>
    export default {
        props:['business'],
        data(){
            return {
                formData:{}
            }
        },

        methods:{
            
            postReview(){
                this.formData.business_id=this.business.id;
                axios.post('/business/'+this.business.id+'/reviews',this.formData)
                  .then(data=>{
                      location.reload();
                  })
                  .catch(error=>{
                      console.log(error);
                  })
            }

        }
    }
</script>